* {
  font-family: 'Inconsolata', monospace;

}
div{
  -webkit-margin-before: 10px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
p{
  -webkit-margin-before: 10px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
body{
  background: linear-gradient(to bottom right, #93e8ff, #25a1de);
}


/**
* text color
*/

.color-gray {
  color: rgb(170, 170, 170);
}
.bg-white{
  background-color: white;
}

/**
* text
*/

.text-center {
  text-align: center;
}
p.topic{
  font-size: 36px;
  padding-bottom: 20px;
  padding-top: 30px;
}
p.title {
  font-size: 36px;
}

p.subtitle {
  font-size: 20px;
}

p.content {
  word-wrap: break-word;
  font-size: 20px;
}

/**
* layout
*/

div.container {
  display: flex;
  width: 90vw;
  margin-left: 5vw;
  flex-wrap: wrap;
  border-radius: 30px;
}

.col-5 {
  width: 50vw;
  margin: 0 30px 30px 0;
}

.col-3 {
  width: 30vw;
  margin: 0 30px 30px 0;
}
div.block-scope{
  padding-top: 35px;
}

img.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 30px;
  border-radius: 22% 22% 10% 10%;
}
