* {
  font-family: "Prompt", sans-serif;
}
div {
  -webkit-margin-before: 10px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
p {
  -webkit-margin-before: 10px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
body {
  background: linear-gradient(to bottom right, #00c3f7, #8ad8ff);
}

/**
* progress bar
*/
progress,
progress[role] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: auto;
  height: 10px;
  border-radius: 5px;
  width: 40%;
}
.skill ::-webkit-progress-value {
  width: 0px;
  background: #00c3f7;
  /* boder */
}
.skill ::-moz-progress-value {
  width: 0px;
  background: #00c3f7;
}
.skill::-webkit-progress-bar {
  background: #e4e4e4;
}
.skill::-moz-progress-bar {
  background: #e4e4e4;
}
/**
* text & background color
*/

.color-gray {
  color: #8e8b8b;
}

.bg-white {
  background-color: white;
}

.color-blue {
  color: #72a9dd;
}

/**
* text weight
*/

/* .text-bold{
  font-weight: bold;
} */
/**
* text
*/

.text-center {
  text-align: center;
}
p.topic {
  font-size: 36px;
  padding-bottom: 20px;
}
p.title {
  font-size: 36px;
}
p.skill-title {
  font-size: 20px;
  padding-top: 10px;
}
p.subtitle {
  font-size: 20px;
}
p.position-name {
  font-size: 16px;
  padding-bottom: 20px;
}
p.skill {
  font-size: 18px;
  margin-left: 25%;
}

p.content {
  font-size: 15px;
  padding-left: 15px;
  /* color: #3a3a3a; */
  word-wrap: break-word;
  width: 90%;
}
p.technology {
  /* padding-left: 15px; */
  margin-top: 0px;
  color: #424242;
}
span.subcontent {
  font-size: 16px;
}
u {
  text-decoration-color: #93e8ff;
}
/**
* layout
*/

div.container {
  display: flex;
  width: 90vw;
  margin-left: 5vw;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
div.row {
  display: flex;
}
.col-6 {
  width: 60%;
  margin: 0 30px 0 0;
}
.col-12 {
  width: 90%;
  margin-left: 5%;
}
.col-4 {
  width: 35%;
  margin: 0 30px 30px 0;
}
div.block-scope {
  padding-top: 35px;
  padding-bottom: 35px;
}
div.sub-block-scope {
  padding-top: 5px;
  padding-bottom: 5px;
}

img.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 30px;
  border-radius: 22% 22% 10% 10%;
}
div.contact {
  display: inline-block;
  padding-left: 45%;
}

div.contact img {
  position: relative;
  width: 30px;
  height: auto;
}

p.content img {
  width: 30px;
  height: auto;
  padding-right: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to bottom right, #00c3f7, #8ad8ff);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #066079;
}
@media screen and (max-width: 1025px) {
  .sub-block-scope {
    margin-top: 5rem;
  }
  .col-4 {
    width: 100%;
  }
  p.skill {
    width: 40%;
    margin-left: 40%;
  }
  .col-6 {
    width: 90%;
    padding-left: 5%;
  }
}
