* {
  font-family: 'Prompt', sans-serif;
}
div{
  -webkit-margin-before: 10px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
p{
  -webkit-margin-before: 10px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
body{
  background: linear-gradient(to bottom right, #00c3f7, #8ad8ff);
}

/**
* progress bar
*/
.pb-blue:progress-bar{
  background: #34b2e8;
  height: 30px;
}
/**
* text & background color
*/

.color-gray {
  color: #8e8b8b;
}

.bg-white{
  background-color: white;
}

.color-blue{
  color: #72a9dd
}

/**
* text weight
*/

.text-bold{
  font-weight: bold;
}
/**
* text
*/

.text-center {
  text-align: center;
}
p.topic{
  font-size: 36px;
  padding-bottom: 20px;
}
p.title {
  font-size: 36px;
}

p.subtitle {
  font-size: 20px;
}
p.position-name{
  font-size: 16px;
  padding-bottom: 20px;
}
p.skill{
  font-size: 18px;
  padding-bottom: 20px;
}

p.content {
  font-size: 17px;
  padding-left: 15px;
}
span.subcontent{
  font-size: 16px;
}
u{
  text-decoration-color: #93e8ff;
}
/**
* layout
*/

div.container {
  display: flex;
  width: 90vw;
  margin-left: 5vw;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: 50px;
}
div.row{
  display: flex;
}
.col-6 {
  width: 50vw;
  margin: 0 30px 30px 0;
}

.col-3 {
  width: 30vw;
  margin: 0 30px 30px 0;
}
div.block-scope{
  padding-top: 35px;
  padding-bottom: 35px;
}
div.sub-block-scope{
  padding-top: 5px;
  padding-bottom: 5px;
}

img.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 30px;
  border-radius: 22% 22% 10% 10%;
}
